include requirements.txt
include LICENSE.txt
include README.md
recursive-include djangow2ui/static *
recursive-include djangow2ui/templates *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
